.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;

  span {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    animation: bounce 0.6s infinite ease-in-out;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
