.btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: unset;
  border: none;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.favourite {
  color: var(--accent-color);
}