.booksList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.2rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
